@font-face {
  font-family: 'formula1display-wide';
  src: url('formula1wide-webfont.woff2') format('woff2'),
       url('formula1wide-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
   margin: 0px;
}



ul {
  font-family: "formula1-display-regular", sans-serif;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 5%;
}

.titre {
  font-family: 'formula1display-wide', sans-serif;
  color: white;
  font-size: 3.3vh;
  margin-right: auto;
}

.logo {
  margin-left: 1vw;
  margin-right: 1vw;
}

li a {
  color: white;
  text-align: center;
  padding: 28px 16px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  font-size: 20px;
}
li a:hover {
  background-color: #ffffff;
  color: red;
}



    /* MEDIA QUERIES */
@media screen and (max-width: 767px) {  /* PHONE */ 
  .titre {
    font-size: 2.5vw;
  }
  .ul {
    flex-direction: column;
  }
  li a {
    font-size: 30px;
  }
  .logo {
    margin-left: 1vh;
    margin-right: 1vh;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {  /* TABLET */
  .titre {
    font-size: 2.5vw;
  }
  .ul {
    flex-direction: column;
  }
  li a {
    font-size: 30px;
  }
  .logo {
    margin-left: 1vh;
    margin-right: 1vh;
  }
}
      